@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Plus Jakarta Sans", sans-serif;
}
:root{
    --primary: #D2DD27;
    --white: #fff;
}


/* #hadoc(hadocHeader) #css starts */
.hadocHeader .logo {
    max-height: 40px
}

.hadocHeader .navbar-open-icon {
    display: inline
}

.hadocHeader .navbar-close-icon {
    display: none
}

.hadocHeader .navbar-toggler[aria-expanded="true"] .navbar-open-icon {
    display: none
}

.hadocHeader .navbar-toggler[aria-expanded="true"] .navbar-close-icon {
    display: inline
}

.hadocHeader .navbar-light .navbar-nav .nav-link {
    color: #252422;
}

.hadocHeader .navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary);
}

.hadocHeader .navbar-light .navbar-toggler {
    color: #252422;
    border-color: #252422;
    font-size: 20px;
}

.hadocHeader .btn {
    background-color: var(--primary);
    color: #353535;
    border: none;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}

.hadocHeader .btn:hover{
    color: var(--white);
    text-decoration: none;
    background-color: var(--primary);
}

/* #hadoc(hadocHeader) #css ends */

/* #carvo(carvoCarousel) #css starts  */
.carvoCarousel .carousel-image {
    max-height: 700px;
    /* Adjust this height as needed */
    object-fit: cover;
}

/* #carvo(carvoCarousel) #css ends  */




/* #sagnu(sagnuFeature) #css starts  */
.sagnuFeature{
    padding: 5rem 0rem 5rem 0rem;
}
.sagnuFeature .card-img-top {
    max-width: 100px;
    margin-left: 20px;
    margin-top: 20px
}

.sagnuFeature .card-heading,
.sagnuFeature .card-heading:hover {
    box-shadow: none !important
}

.sagnuFeature .card-title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #252422;
}

.sagnuFeature h2 {
    font-size: 45px;
    font-weight: 600;
}

.sagnuFeature .stroke {
    color: var(--primary);
    font-style: italic;
}

.sagnuFeature .cardbody {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sagnuFeature .cardbody:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* #sagnu(sagnuFeature) #css ends  */


/* #pung(pungProductone) #css starts  */
.pungProductone{
    padding: 5rem 0rem 5rem 0rem;
}
.pungProductone h2{
    font-size: 35px;
}
.pungProductone .product-grid {
    background: var(--white);
    border: 1px solid #e5e5e5;
    border-radius: 22px;
}

.pungProductone .product-grid .product-image {
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.pungProductone .product-grid .product-image a.image {
    display: block;
}

.pungProductone .product-grid .product-image a.image:before {
    content: '';
    background-color: #e52d53;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    opacity: .1;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease .35s;
}

.pungProductone .product-grid:hover .product-image a.image:before {
    opacity: 0.4;
    height: 100%;
}

.pungProductone .product-grid .product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(.85);
    transition: all 0.5s ease 0s;
}

.pungProductone .product-grid:hover .product-image img {
    transform: scale(1);
}

.pungProductone .product-grid .product-like-icon {
    color: #f5f5f5;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.pungProductone .product-grid:hover .product-like-icon {
    color: red;
    top: 20px;
    right: 20px;
    transition-delay: 0.2s;
}

.pungProductone .product-grid .product-like-icon:hover {
    color: #1b33a1;
}

.pungProductone .product-grid .product-content {
    padding: 20px 10px;
    position: relative;
}

.pungProductone .product-grid .rating {
    color: #999;
    font-size: 12px;
    padding: 0;
    margin: 0 0 7px;
    list-style: none;
}

.pungProductone .product-grid .rating li.fas {
    color: #e52d53;
}

.pungProductone .product-grid .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.pungProductone .product-grid .title a {
    color: #000;
    transition: all 0.3s ease 0s;
}

.pungProductone .product-grid .title a:hover {
    color: #e52d53;
}

.pungProductone .product-grid .price {
    color: #e52d53;
    font-size: 18px;
    font-weight: 800;
}

.pungProductone .product-grid .add-to-cart {
    color: var(--white);
    background: #353535;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all 0.3s ease 0s;
}

.pungProductone .product-grid .add-to-cart:hover {
    color: var(--white);
}
@media screen and (max-width: 990px) {
    .pungProductone .product-grid {
        margin: 0 0 30px;
    }
}
/* #pung(pungProductone) #css ends  */

/* #feresa(feresaFeature) #css starts */
.feresaFeature {
    padding: 5rem 0rem 5rem 0rem;
}

.feresaFeature .fdb-block img.fdb-icon {
    width: auto;
    width: 3.75rem
}

.feresaFeature h3,
.feresaFeature p {
    color: #252422;
}
.feresaFeature h3{
    margin-top: 13px;    
}
/* #feresa(feresaFeature) #css starts */

/* #pung(pungProducttwo) #css starts  */
.pungProducttwo{
    padding: 5rem 0rem 5rem 0rem;
}
.pungProducttwo h2{
    font-size: 35px;
}
.pungProducttwo .product-grid {
    background: var(--white);
    border: 1px solid #e5e5e5;
    border-radius: 22px;
}

.pungProducttwo .product-grid .product-image {
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.pungProducttwo .product-grid .product-image a.image {
    display: block;
}

.pungProducttwo .product-grid .product-image a.image:before {
    content: '';
    background-color: #e52d53;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    opacity: .1;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease .35s;
}

.pungProducttwo .product-grid:hover .product-image a.image:before {
    opacity: 0.4;
    height: 100%;
}

.pungProducttwo .product-grid .product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(.85);
    transition: all 0.5s ease 0s;
}

.pungProducttwo .product-grid:hover .product-image img {
    transform: scale(1);
}

.pungProducttwo .product-grid .product-like-icon {
    color: #f5f5f5;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.pungProducttwo .product-grid:hover .product-like-icon {
    color: red;
    top: 20px;
    right: 20px;
    transition-delay: 0.2s;
}

.pungProducttwo .product-grid .product-like-icon:hover {
    color: #1b33a1;
}

.pungProducttwo .product-grid .product-content {
    padding: 20px 10px;
    position: relative;
}

.pungProducttwo .product-grid .rating {
    color: #999;
    font-size: 12px;
    padding: 0;
    margin: 0 0 7px;
    list-style: none;
}

.pungProducttwo .product-grid .rating li.fas {
    color: #e52d53;
}

.pungProducttwo .product-grid .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.pungProducttwo .product-grid .title a {
    color: #000;
    transition: all 0.3s ease 0s;
}

.pungProducttwo .product-grid .title a:hover {
    color: #e52d53;
}

.pungProducttwo .product-grid .price {
    color: #e52d53;
    font-size: 18px;
    font-weight: 800;
}

.pungProducttwo .product-grid .add-to-cart {
    color: var(--white);
    background: #353535;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all 0.3s ease 0s;
}

.pungProducttwo .product-grid .add-to-cart:hover {
    color: var(--white);
}
@media screen and (max-width: 990px) {
    .pungProducttwo .product-grid {
        margin: 0 0 30px;
    }
}
/* #pung(pungProducttwo) #css ends  */

/* #pung(pungProductthree) #css starts  */
.pungProductthree{
    padding: 5rem 0rem 5rem 0rem;
}
.pungProductthree h2{
    font-size: 35px;
}
.pungProductthree .product-grid {
    background: var(--white);
    border: 1px solid #e5e5e5;
    border-radius: 22px;
}

.pungProductthree .product-grid .product-image {
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.pungProductthree .product-grid .product-image a.image {
    display: block;
}

.pungProductthree .product-grid .product-image a.image:before {
    content: '';
    background-color: #e52d53;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    opacity: .1;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease .35s;
}

.pungProductthree .product-grid:hover .product-image a.image:before {
    opacity: 0.4;
    height: 100%;
}

.pungProductthree .product-grid .product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(.85);
    transition: all 0.5s ease 0s;
}

.pungProductthree .product-grid:hover .product-image img {
    transform: scale(1);
}

.pungProductthree .product-grid .product-like-icon {
    color: #f5f5f5;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.pungProductthree .product-grid:hover .product-like-icon {
    color: red;
    top: 20px;
    right: 20px;
    transition-delay: 0.2s;
}

.pungProductthree .product-grid .product-like-icon:hover {
    color: #1b33a1;
}

.pungProductthree .product-grid .product-content {
    padding: 20px 10px;
    position: relative;
}

.pungProductthree .product-grid .rating {
    color: #999;
    font-size: 12px;
    padding: 0;
    margin: 0 0 7px;
    list-style: none;
}

.pungProductthree .product-grid .rating li.fas {
    color: #e52d53;
}

.pungProductthree .product-grid .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.pungProductthree .product-grid .title a {
    color: #000;
    transition: all 0.3s ease 0s;
}

.pungProductthree .product-grid .title a:hover {
    color: #e52d53;
}

.pungProductthree .product-grid .price {
    color: #e52d53;
    font-size: 18px;
    font-weight: 800;
}

.pungProductthree .product-grid .add-to-cart {
    color: var(--white);
    background: #353535;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all 0.3s ease 0s;
}

.pungProductthree .product-grid .add-to-cart:hover {
    color: var(--white);
}
@media screen and (max-width: 990px) {
    .pungProductthree .product-grid {
        margin: 0 0 30px;
    }
}
/* #pung(pungProductthree) #css ends  */

/* #tiklu(tikluTestimonial) #css starts  */
.tikluTestimonial{
    padding: 5rem 0rem 5rem 0rem;
}
.tikluTestimonial #testimonial-area .section-heading h2 {
    font-size: 48px;
    line-height: 58px;
}

.tikluTestimonial .testi-wrap {
    position: relative;
    height: 725px;
    margin-top: -80px;
}

.tikluTestimonial .client-single {
    margin-top: 20px;
    text-align: center;
    position: absolute;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.tikluTestimonial .client-info,
.tikluTestimonial .client-comment {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tikluTestimonial .client-single.inactive .client-comment,
.tikluTestimonial .client-single.inactive .client-info {
    display: none;
}

.tikluTestimonial .client-single.inactive .client-comment,
.tikluTestimonial .client-single.inactive .client-info {
    opacity: 0;
    visibility: hidden;
}

.tikluTestimonial .client-single.position-1 {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
}

.tikluTestimonial .client-single.position-2 {
    left: -40px;
    top: 105px;
}

.tikluTestimonial .client-single.position-3 {
    left: -60px;
    top: 240px;
    -webkit-transform: scale(0.4) !important;
    transform: scale(0.4) !important;
}

.tikluTestimonial .client-single.position-4 {
    left: 55px;
    top: 380px;
}

.tikluTestimonial .client-single.position-5 {
    top: 30px;
    right: 55px;
}

.tikluTestimonial .client-single.position-6 {
    top: 225px;
    right: -40px;
}

.tikluTestimonial .client-single.position-7 {
    top: 400px;
    right: 45px;
    -webkit-transform: scale(0.4) !important;
    transform: scale(0.4) !important;
}

.tikluTestimonial .client-single.active {
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    width: 70%;
}

.tikluTestimonial .client-single.active .client-comment,
.tikluTestimonial .client-single.active .client-info {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.tikluTestimonial .client-single:not(.active) {
    -webkit-transform: scale(0.55);
    transform: scale(0.55);
    z-index: 99;
}

.tikluTestimonial .client-single.active .client-img {
    width: 160px;
    height: 160px;
    margin: 0 auto 24px;
    position: relative;
}

.tikluTestimonial .client-single.active .client-img:before {
    border-radius: 100%;
    padding: 5px;
    width: 160px;
    height: 160px;
    top: -4px;
    left: 0px;
    position: absolute;
    z-index: -1;
}

.tikluTestimonial .client-single .client-img img {
    width: 150px;
    border-radius: 50%;
    border: 8px solid var(--primary);
    cursor: pointer;
}

.tikluTestimonial .client-single.active .client-img img {
    max-width: 160px;
    margin: 0 auto 24px;
    border: 0;
}

.tikluTestimonial .client-comment {
    padding: 0 30px;
}

.tikluTestimonial .client-comment h3 {
    font-size: 22px;
    line-height: 32px;
    color: #505b6d;
}

.tikluTestimonial .client-comment span i {
    font-size: 60px;
    color: var(--primary);
    margin: 40px 0 24px;
    display: inline-block;
}

.tikluTestimonial .client-info h3 {
    color: #000;
    font-weight: 600;
    margin-bottom: 4px;
}

.tikluTestimonial .client-info p {
    color: #0084ff;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tikluTestimonial #testimonial-area .section-heading h2 {
        font-size: 30px;
    }

    .tikluTestimonial .client-comment h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .tikluTestimonial .client-single.active {
        width: 60%;
    }

    .tikluTestimonial .client-single:not(.active) {
        -webkit-transform: scale(0.55);
        transform: scale(0.35);
    }

    .tikluTestimonial .client-single.position-3,
    .tikluTestimonial .client-single.position-7 {
        -webkit-transform: scale(0.3) !important;
        transform: scale(0.3) !important;
    }

    .tikluTestimonial .client-single.active .client-img img {
        max-width: 100px;
    }

    .tikluTestimonial .client-single.active .client-img::before {
        padding: 5px;
        width: 108px;
        height: 108px;
        top: -4px;
        left: 6px;
    }

    .tikluTestimonial .client-single.active .client-img {
        width: 120px;
        height: 100px;
    }

    .tikluTestimonial .testi-wrap {
        height: 580px;
    }

    .tikluTestimonial #testimonial-area {
        padding: 100px 0 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .tikluTestimonial #testimonial-area .section-heading h2 {
        font-size: 30px;
    }

    .tikluTestimonial .client-comment h3 {
        font-size: 14px;
        line-height: 26px;
    }

    .tikluTestimonial .client-single.active {
        width: 60%;
    }

    .tikluTestimonial .client-comment span i {
        font-size: 40px;
    }

    .tikluTestimonial .client-single:not(.active) {
        -webkit-transform: scale(0.55);
        transform: scale(0.35);
    }

    .tikluTestimonial .client-single.position-5,
    .tikluTestimonial .client-single.position-7 {
        right: 0;
    }

    .tikluTestimonial .client-single.position-4 {
        left: 0;
    }

    .tikluTestimonial .client-single.position-3,
    .tikluTestimonial .client-single.position-7 {
        -webkit-transform: scale(0.3) !important;
        transform: scale(0.3) !important;
    }

    .tikluTestimonial .client-single.active .client-img img {
        max-width: 80px;
    }

    .tikluTestimonial .client-single.active .client-img::before {
        padding: 5px;
        width: 88px;
        height: 88px;
        top: -4px;
        left: 16px;
    }

    .tikluTestimonial .client-single.active .client-img {
        width: 120px;
        height: 100px;
    }

    .tikluTestimonial .testi-wrap {
        height: 630px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .tikluTestimonial #testimonial-area .section-heading h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .tikluTestimonial .client-comment h3 {
        font-size: 14px;
        line-height: 26px;
    }

    .tikluTestimonial .client-single.active {
        width: 80%;
    }

    .tikluTestimonial .client-comment span i {
        font-size: 40px;
    }

    .tikluTestimonial .client-single:not(.active) {
        -webkit-transform: scale(0.25);
        transform: scale(0.25);
    }

    .tikluTestimonial .client-single.position-5,
    .tikluTestimonial .client-single.position-7,
    .tikluTestimonial .client-single.position-6 {
        right: -70px;
    }

    .tikluTestimonial .client-single.position-4 {
        left: -60px;
    }

    .tikluTestimonial .client-single.position-3 {
        left: -75px;
    }

    .tikluTestimonial .client-single.position-3,
    .tikluTestimonial .client-single.position-7 {
        -webkit-transform: scale(0.25) !important;
        transform: scale(0.25) !important;
    }

    .tikluTestimonial .client-single.active .client-img img {
        max-width: 80px;
    }

    .tikluTestimonial .client-single.active .client-img::before {
        padding: 5px;
        width: 88px;
        height: 88px;
        top: -4px;
        left: 16px;
    }

    .tikluTestimonial .client-single.active .client-img {
        width: 120px;
        height: 100px;
    }

    .tikluTestimonial .testi-wrap {
        height: 600px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .tikluTestimonial #testimonial-area .section-heading h2 {
        font-size: 30px;
    }

    .tikluTestimonial .client-comment h3 {
        font-size: 14px;
        line-height: 26px;
    }

    .tikluTestimonial .client-single.active {
        width: 80%;
    }

    .tikluTestimonial .client-comment span i {
        font-size: 40px;
    }

    .tikluTestimonial .client-single:not(.active) {
        -webkit-transform: scale(0.25);
        transform: scale(0.25);
    }

    .tikluTestimonial .client-single.position-5,
    .tikluTestimonial .client-single.position-7,
    .tikluTestimonial .client-single.position-6 {
        right: -70px;
    }

    .tikluTestimonial .client-single.position-4 {
        left: -60px;
    }

    .tikluTestimonial .client-single.position-3 {
        left: -75px;
    }

    .tikluTestimonial .client-single.position-3,
    .tikluTestimonial .client-single.position-7 {
        -webkit-transform: scale(0.25) !important;
        transform: scale(0.25) !important;
    }

    .tikluTestimonial .client-single.active .client-img img {
        max-width: 80px;
    }

    .tikluTestimonial .client-single.active .client-img::before {
        padding: 5px;
        width: 88px;
        height: 88px;
        top: -4px;
        left: 16px;
    }

    .tikluTestimonial .client-single.active .client-img {
        width: 120px;
        height: 100px;
    }

    .tikluTestimonial .testi-wrap {
        height: 550px;
    }
}

/* #tiklu(tikluTestimonial) #css ends  */

/* #pung(pungProductfour) #css starts  */
.pungProductfour{
    padding-bottom: 5rem;
}
.pungProductfour h2{
    font-size: 35px;
}
.pungProductfour .product-grid {
    background: var(--white);
    border: 1px solid #e5e5e5;
    border-radius: 22px;
}

.pungProductfour .product-grid .product-image {
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.pungProductfour .product-grid .product-image a.image {
    display: block;
}

.pungProductfour .product-grid .product-image a.image:before {
    content: '';
    background-color: #e52d53;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    opacity: .1;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease .35s;
}

.pungProductfour .product-grid:hover .product-image a.image:before {
    opacity: 0.4;
    height: 100%;
}

.pungProductfour .product-grid .product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(.85);
    transition: all 0.5s ease 0s;
}

.pungProductfour .product-grid:hover .product-image img {
    transform: scale(1);
}

.pungProductfour .product-grid .product-like-icon {
    color: #f5f5f5;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.pungProductfour .product-grid:hover .product-like-icon {
    color: red;
    top: 20px;
    right: 20px;
    transition-delay: 0.2s;
}

.pungProductfour .product-grid .product-like-icon:hover {
    color: #1b33a1;
}

.pungProductfour .product-grid .product-content {
    padding: 20px 10px;
    position: relative;
}

.pungProductfour .product-grid .rating {
    color: #999;
    font-size: 12px;
    padding: 0;
    margin: 0 0 7px;
    list-style: none;
}

.pungProductfour .product-grid .rating li.fas {
    color: #e52d53;
}

.pungProductfour .product-grid .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.pungProductfour .product-grid .title a {
    color: #000;
    transition: all 0.3s ease 0s;
}

.pungProductfour .product-grid .title a:hover {
    color: #e52d53;
}

.pungProductfour .product-grid .price {
    color: #e52d53;
    font-size: 18px;
    font-weight: 800;
}

.pungProductfour .product-grid .add-to-cart {
    color: var(--white);
    background: #353535;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all 0.3s ease 0s;
}

.pungProductfour .product-grid .add-to-cart:hover {
    color: var(--white);
}
@media screen and (max-width: 990px) {
    .pungProductfour .product-grid {
        margin: 0 0 30px;
    }
}
/* #pung(pungProductfour) #css ends  */

/* #cjaime(cjaimeCTA) #css starts  */
.cjaimeCTA  {
    padding: 5rem 0rem 5rem 0rem;
}

.cjaimeCTA .btn {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}

/* #cjaime(cjaimeCTA) #css ends  */

/* #cander(canderCounters) #css starts  */
.canderCounters{
    padding: 5rem 0rem 5rem 0rem;
}
.canderCounters .counter-section i {
    display: block;
    margin: 0 0 10px;
    color: var(--primary);
}

.canderCounters .counter-section span.counter {
    font-size: 40px;
    color: #000;
    line-height: 60px;
    display: block;
    letter-spacing: 2px
}

.canderCounters .counter-title {
    font-size: 14px;
    letter-spacing: 2px;
}

.canderCounters .counter-icon {
    top: 25px;
    position: relative
}

.canderCounters .counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left;
}

.canderCounters .counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 10px;
}

.canderCounters .counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0
}

.canderCounters .counter-subheadline span {
    float: right;
}

.canderCounters .medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
}

/* #cander(canderCounters) #css ends  */

/* #funnu(funnuFooter) #css starts */
.funnuFooter {
    overflow: hidden;
}
.funnuFooter .logo{
    max-height: 80px;
}

.funnuFooter .round-btn {
    display: inline;
    height: 40px;
    width: 40px;
    background: var(--white);
    border-radius: 50%;
    float: left;
    margin: 15px 8px;
    box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);
    border: 1px solid
}

.funnuFooter .round-btn a {
    display: block;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 50%
}

.funnuFooter .round-btn .icon {
    padding: 3px
}

.funnuFooter .round-btn .icon img {
    height: 24px;
    width: 32px;
    margin-top: 6px
}

.funnuFooter .btn-facebook a {
    color: #3b5998;
    padding: 8px 13px
}

.funnuFooter .btn-linkedin a {
    color: #007bb6;
    padding: 6px 10px
}

.funnuFooter .btn-youtube a {
    color: #df2828;
    padding: 6px 10px
}

.funnuFooter .btn-whatsapp a {
    color: #155E54;
    padding: 6px 12px
}

.funnuFooter .standard_header .standard_social_links {
    margin-left: 1rem
}


.funnuFooter .footer-wrap {
    padding-top: 43px;
    background-size: cover
}

.funnuFooter .footer-wrap h3 {
    color: var(--white);
    font-size: 17px;
    margin-bottom: 25px
}

.funnuFooter .footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px
}

.funnuFooter .footer-wrap p a {
    color: var(--white);
    text-decoration: underline;
    font-style: italic
}

.funnuFooter .footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800
}

.funnuFooter .footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none
}

.funnuFooter .footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc
}

.funnuFooter .footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.funnuFooter .footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3
}

.funnuFooter .address {
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px
}

.funnuFooter .address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0
}

.funnuFooter .info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal
}

.funnuFooter .fa-phone:before {
    content: "\f095"
}

.funnuFooter .info a {
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal
}

.funnuFooter .fa-fax:before {
    content: "\f1ac"
}

.funnuFooter .copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #222
}

.funnuFooter footer .second_class {
    border-bottom: 1px solid #444;
    padding-bottom: 25px
}

.funnuFooter footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444
}

.funnuFooter footer .funnuFooter .first_class p,
footer .first_class h3 {
    margin: 0 0
}

.funnuFooter footer {
    background: #333
}

.funnuFooter footer .newsletter input[type="text"] {
    width: 100%;
    background: var(--white);
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
    outline: none;
}

.funnuFooter .newsletter .newsletter_submit_btn {
    background: var(--white);
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333
}

.funnuFooter footer .second_class_bdr {
    padding-top: 25px;
    border-top: 1px solid #222
}

.funnuFooter footer .btn-facebook a {
    padding: 6px 14px
}

.funnuFooter footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222
}

.funnuFooter footer .round-btn {
    margin: 15px 4px
}

.funnuFooter footer dl,
.funnuFooter ol,
.funnuFooter ul {
    padding-left: 5px
}

.funnuFooter footer li {
    list-style: none
}

@media(max-width:768px) {
    .funnuFooter .footer-wrap h3 {
        margin-top: 27px
    }

    .funnuFooter footer .round-btn {
        margin: 15px 4px
    }
}

@media(max-width:320px) {
    .funnuFooter .copyright {
        font-size: 13px
    }
}

/* #funnu(funnuFooter) #css ends */

/* Back to top */
#button {
    display: inline-block;
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #353535;
  }
  #button:hover {
    cursor: pointer;
    background-color: var(--primary);
  }
  #button:active {
    background-color: var(--primary);
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  .bg-mybg {
    background-color: var(--primary);
  }

  /* Medium Screens (Tablets) */
@media (max-width: 992px) {
    .sagnuFeature h2 {
        font-size: 36px;
    }
    .pungProductone h2 {
        font-size: 28px;
    }
    .tikluTestimonial #testimonial-area .section-heading h2 {
        font-size: 40px;
        line-height: 50px;
    }
    h2 {
        font-size: 1.8rem;
    }
}

/* Small Screens (Mobile) */
@media (max-width: 768px) {
    .sagnuFeature h2 {
        font-size: 28px;
    }
    .pungProductone h2 {
        font-size: 24px;
    }
    .tikluTestimonial #testimonial-area .section-heading h2 {
        font-size: 32px;
        line-height: 42px;
    }
    h2 {
        font-size: 1.6rem;
    }
}

/* Extra Small Screens (Mobile Portrait) */
@media (max-width: 576px) {
    .sagnuFeature h2 {
        font-size: 24px;
    }
    .pungProductone h2 {
        font-size: 20px;
    }
    .tikluTestimonial #testimonial-area .section-heading h2 {
        font-size: 28px;
        line-height: 38px;
    }
    h2 {
        font-size: 1.4rem;
    }
}