/* #hadoc(hadocHeader) #css starts */
.hadocHeader .logo {
    max-height: 40px
}
.hadocHeader .navbar-open-icon {
    display: inline
}
.hadocHeader .navbar-close-icon {
    display: none
}
.hadocHeader .navbar-toggler[aria-expanded="true"] .navbar-open-icon {
    display: none
}
.hadocHeader .navbar-toggler[aria-expanded="true"] .navbar-close-icon {
    display: inline
}
.hadocHeader .navbar-light .navbar-nav .nav-link{
    color: #252422;
}
.hadocHeader .navbar-light .navbar-nav .nav-link:hover{
    color: #3E3A37;
}
.hadocHeader .navbar-light .navbar-toggler {
    color: #252422;
    border-color: #252422;
    font-size: 20px;
}
.hadocHeader .btn {
    background-color: #E75F27;
    color: white;
    border: none;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}
.hadocHeader .btn:hover {
    color: #fff;
    text-decoration: none;
}
/* #hadoc(hadocHeader) #css ends */

/* #banru(banruBanner) #css starts  */
.banruBanner .parallax { 
    background-image: url("../img/others/banner.jpg");
    height: 200px; 
    width: 100%;
    background-repeat: round;
    background-size: cover;
  }
.banruBanner .fa-x{
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
    margin-top: 10px;
}
.banruBanner button{
    background: transparent;
    border: none;
}
/* Media query for small screens (mobile devices) */
@media (max-width: 768px) {
    .banruBanner .parallax {
        height: 60px; 
    }
}

/* #banru(banruBanner) #css ends  */

